# Servidor e Porta Backend
PORT=3000
NODE_ENV=development

# Limites de Armazenamento (Cota Global em GB)
MAX_STORAGE_GB=20
STORAGE_PHYSICAL_PATH=./storage/objects

# Banco de Dados (SQLite por padrão para desenvolvimento local, PostgreSQL para produção)
DATABASE_URL="file:./sync_cloud.db"

# Segurança e Autenticação
JWT_SECRET=super_secret_jwt_key_almeida_studios_2026
HASH_SALT_ROUNDS=12

# Sincronização em Tempo Real (WebSocket)
WEBSOCKET_PORT=3001
